.sidebar header {
    .site-avatar {
        .site-logo {
            border-radius: 10%;
        }
    }
}

.section-card {
    --small-card-padding: clamp(0.9rem, 3vw, 1.6rem);
    position: relative; // needed for absolute child
    padding-right: calc(18% + var(--small-card-padding));

    .section-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        width: clamp(15%, calc(5vw + 9%), 20%);
        overflow: hidden;

        img {
            display: block;
            border-top-right-radius: var(--card-border-radius);
            border-bottom-right-radius: var(--card-border-radius);
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin: 0;
            padding: 0;
        }
    }
}
